<div class="hero-unit">

	<h1 align="center">CAMEO</h1>

	<p> </p>
	<p align="center">SHORT RESUME</p>

		<p><a href="#" class="btn btn-large btn-warning disabled">T</a></p>
		<p><a href="#" class="btn btn-large btn-danger disabled">D</a></p>

</div>